@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(BACKGROUND.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;

}

.backgound {
  display: none;
}

.reset-senha {
  display: none;
  position: absolute;
  flex-direction: column;
  height: 360px;
  width: 400px;
  background-color: rgb(255, 255, 255);
  gap: 30px;
  justify-content: center;
  border-radius: 10px;
  text-align: center;
  color: black;
  margin-top: 90px;
  box-shadow: 0 4px 8px 0 rgba(180, 180, 180, 0.2), 0 6px 20px 0 rgba(180, 180, 180, 0.2);

}

.reset-senha h1 {
  font-weight: lighter;
  width: 400px;
  font-size: 20px;
}

.reset-senha p {
  font-size: 12px;
  width: 400px;
  font-weight: lighter;
}

form {
  display: flex;
  flex-direction: column;
  height: 360px;
  width: 400px;
  background-color: rgb(255, 255, 255);
  gap: 30px;
  justify-content: center;
  border-radius: 10px;
  text-align: center;
  color: rgb(76, 0, 255);
  margin-top: 90px;
  box-shadow: 0 4px 8px 0 rgba(180, 180, 180, 0.2), 0 6px 20px 0 rgba(180, 180, 180, 0.2);
}

input,
button {
  height: 50px;
  border-radius: 10px;
  border: none;
  margin: 0px 20px;
  background-color: #ececec;
}

input {
  padding: 0px 20px;
}

input::placeholder {
  color: rgba(0, 0, 0, 0.733);
}

button {
  background-color: #34344e;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #383838;
  color: #e7e7e7;
  transition: .3s;
}

form p {
  cursor: pointer;
  font-size: 17px;
}

form p:hover {
  color: #383838;
}

/* Estilos do rodapé */
footer {
  background-color: #27272700;
  color: #000000;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

@media (max-width: 600px) {
  * {
    margin: 0;
    padding: 0;
  }

  body {
    background-image: none;
    height: 100vh;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;

  }

  .backgound {
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
  }

  form {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 350px;
    background-color: rgb(255, 255, 255);
    gap: 30px;
    justify-content: center;
    border-radius: 10px;
    text-align: center;
    color: rgb(42, 14, 109);
    margin-top: 90px;
    box-shadow: 0 4px 8px 0 rgba(180, 180, 180, 0.2), 0 6px 20px 0 rgba(180, 180, 180, 0.2);
  }

  input,
  button {
    height: 50px;
    border-radius: 10px;
    border: none;
    margin: 0px 20px;
    background-color: #ececec;
  }

  input {
    padding: 0px 20px;
  }

  input::placeholder {
    color: rgba(0, 0, 0, 0.733);
  }

  button {
    background-color: #34344e;
    color: white;
    cursor: pointer;
  }

  button:hover {
    background-color: #383838;
    color: #e7e7e7;
    transition: .3s;
  }

  form p {
    cursor: pointer;
    font-size: 15px;
  }

  form p:hover {
    color: #383838;
  }

  /* Estilos do rodapé */
  footer {
    background-color: #27272700;
    color: #000000;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 16px;
  }
}