* {
  margin: 0;
  padding: 0;
}

body {
  height: auto;
  width: 100vh;
  background-image: url(BACKGROUND\ menu.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Arial, sans-serif;
}

.menu-lateral {
  position: fixed;
  top: 0;
  left: 0;
  width: 20%;
  height: 100vh;
  background-color: #ffffff;
  color: #000000;
  padding: 0;
}

.logo {
  text-align: center;
  margin-bottom: 50px;
  margin-top: 20px;
}

.logo img {
  max-width: 100px;
}

ul {
  height: auto;
  list-style-type: none;
  padding: 0;
}

ul li {
  margin-bottom: 20px;
}

ul li a {
  color: #000000;
  text-decoration: none;
  display: block;
  padding: 10px 20px;
}

.ultimo-botão{
  margin-top: 360px;
}

ul li a:hover{
  background-color: #cbdad5;
}

/* Estilo de hover apenas para o último item do menu */
ul li.ultimo-botão a:hover {
  background-color: red; /* Defina a cor de fundo desejada para o último item do menu durante o hover */
  color: #ffffff; /* Defina a cor do texto desejada para o último item do menu durante o hover */
}

.identificador-pagina{
  background-color: #00da0000;
  display: flex;
  align-items: start;
  justify-content: start;
  width: 100%;
  margin-left: 355px;
  margin-top: 20px;
}


.top-pagina{
background-color: rgba(0, 128, 0, 0);
position: fixed;
top: 0;
right: 0;
width: 80%;
height: 50px;
}

#btn-message {
  --text-color: #000;
  --bg-color-sup: #d2d2d2;
  --bg-color: #f4f4f4;
  --bg-hover-color: #ffffff;
  --online-status: #00da00;
  --font-size: 16px;
  --btn-transition: all 0.2s ease-out;
}

.button-message {
  display: flex;
  margin-left: 83%;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  font: 400 var(--font-size) Helvetica Neue, sans-serif;
  box-shadow: 0 0 2.17382px rgba(0,0,0,.049),0 1.75px 6.01034px rgba(0,0,0,.07),0 3.63px 14.4706px rgba(0,0,0,.091),0 22px 48px rgba(0,0,0,.14);
  background-color: var(--bg-color);
  border-radius: 68px;
  cursor: pointer;
  padding: 6px 10px 6px 6px;
  width: fit-content;
  height: 40px;
  border: 0;
  overflow: hidden;
  position: relative;
  transition: var(--btn-transition);
}

.button-message:hover {
  height: 56px;
  padding: 8px 20px 8px 8px;
  background-color: var(--bg-hover-color);
  transition: var(--btn-transition);
}

.button-message:active {
  transform: scale(0.99);
}

.content-avatar {
  width: 30px;
  height: 30px;
  margin: 0;
  transition: var(--btn-transition);
  position: relative;
}

.button-message:hover .content-avatar {
  width: 40px;
  height: 40px;
}

.avatar {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  background-color: var(--bg-color-sup);
}

.user-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.status-user {
  position: absolute;
  width: 6px;
  height: 6px;
  right: 1px;
  bottom: 1px;
  border-radius: 50%;
  outline: solid 2px var(--bg-color);
  background-color: var(--online-status);
  transition: var(--btn-transition);
  animation: active-status 2s ease-in-out infinite;
}

.button-message:hover .status-user {
  width: 10px;
  height: 10px;
  right: 1px;
  bottom: 1px;
  outline: solid 3px var(--bg-hover-color);
}

.notice-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 8px;
  text-align: initial;
  color: var(--text-color);
}

.username {
  letter-spacing: -6px;
  height: 0;
  opacity: 0;
  transform: translateY(-20px);
  transition: var(--btn-transition);
}

.user-id {
  font-size: 12px;
  letter-spacing: -6px;
  height: 0;
  opacity: 0;
  transform: translateY(10px);
  transition: var(--btn-transition);
}

.lable-message {
  display: flex;
  align-items: center;
  opacity: 1;
  transform: scaleY(1);
  transition: var(--btn-transition);
}

.button-message:hover .username {
  height: auto;
  letter-spacing: normal;
  opacity: 1;
  transform: translateY(0);
  transition: var(--btn-transition);
}

.button-message:hover .user-id {
  height: auto;
  letter-spacing: normal;
  opacity: 1;
  transform: translateY(0);
  transition: var(--btn-transition);
}

.button-message:hover .lable-message {
  height: 0;
  transform: scaleY(0);
  transition: var(--btn-transition);
}

.lable-message, .username {
  font-weight: 600;
}

.conteudo {
  position: fixed;
  top: 0;
  right: 0;
  width: 80%;
  height: 100vh;background-color: rgba(0, 128, 0, 0);
  margin-top: 150px;
}

.titulo-search-bar{
  display: flex;
  align-items: start;
  justify-content: start;
  width: 100%;
  margin-left: 35px;
}

.button {
  position: relative;
  margin-left: 68%;
  width: 150px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 1px solid #34974d;
  background-color: #3aa856;
}

.button, .button__icon, .button__text {
  transition: all 0.3s;
}

.button .button__text {
  transform: translateX(20px);
  color: #fff;
  font-weight: 600;
}

.button .button__icon {
  position: absolute;
  transform: translateX(109px);
  height: 100%;
  width: 39px;
  background-color: #34974d;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button .svg {
  width: 30px;
  stroke: #fff;
}

.button:hover {
  background: #34974d;
}

.button:hover .button__text {
  color: transparent;
}

.button:hover .button__icon {
  width: 148px;
  transform: translateX(0);
}

.button:active .button__icon {
  background-color: #2e8644;
}

.button:active {
  border: 1px solid #2e8644;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
  background-color: #ffffff00;
}

.search-input {
  border: none;
  outline: none;
  padding: 8px;
  font-size: 16px;
  border-radius: 8px;
  width: 90%;
}

.search-icon {
  color: #000000;
  font-size: 20px;
  margin-left: 8px;
  cursor: pointer;
}

.user-list {
  display: grid;
  grid-template-columns: auto-fit(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
  background-color: #c7389000;
  overflow-y: auto;/* Permitir rolagem vertical */
  max-height: 550px; /* Ajuste a altura máxima conforme necessário */
}

.user-item {
  display: flex;
  align-items: center; /* Alinhar verticalmente os itens dentro do container */
  background-color: #fff;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-width: 100%; /* Definir uma largura máxima para o container */
}

.cta {
  position: relative;
  margin: auto;
  padding: 12px 18px;
  transition: all 0.2s ease;
  border: none;
  background: none;
 }
 
 .cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 50px;
  background: #566981;
  width: 45px;
  height: 45px;
  transition: all 0.3s ease;
 }
 
 .cta span {
  position: relative;
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #234567;
 }
 
 .cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #234567;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
 }
 
 .cta:hover:before {
  width: 100%;
  background: #b1dae7;
 }
 
 .cta:hover svg {
  transform: translateX(0);
 }
 
 .cta:active {
  transform: scale(0.95);
 }

.user-avatar img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-right: 15px;
  background-color: rgb(151, 151, 151);
}

.user-details {
  flex: 1; /* Ocupar o espaço restante do container */
}

.user-details h3 {
  margin: 0;
  margin-bottom: 5px; /* Aumentar um pouco o espaço entre o nome e o email */
  font-size: 18px; /* Aumentar o tamanho da fonte para o nome */
}

.user-details p {
  margin: 0;
  font-size: 14px; /* Tamanho da fonte para informações adicionais */
  color: #555; /* Cor mais escura para as informações adicionais */
}

footer {
  background-color: #27272700;
  color: #000000;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
